[submodule "0x0C-python-almost_a_circle/alx-higher_level_programming/0x0C-python-almost_a_circle"]
	path = 0x0C-python-almost_a_circle/alx-higher_level_programming/0x0C-python-almost_a_circle
	url = https://github.com/Willystone/alx-higher_level_programming
